extends layout/layout

block vars
    - var pageTitle = 'Diplom'
    - var pageBodyClass = 'newsPage'
    - var pageHeaderClass = ''

block content
    section.news-window
        .container 
            .news 
                .news__bread Новости     
                .news__title Новости
                .news-nav
                    .news-nav__item
                        a.news-nav__company.activeclick(href="#") Новости компаний 
                    .news-nav__item
                        a.news-nav__actions(href="#") Акционерам
                .news__content
                    mixin news(arg={})
                        a.news-card(href="#")
                            img.news-card__img.mod(src=arg.img_src, alt="news-card") 
                            img.news-card__img--disappear(src=arg.img_srcDis, alt="news-cardDis") 
                            .news-card__data=arg.news_data
                            .news-card__text=arg.news_text 
                            .news-card__view=arg.news_view
                    +news({
                        img_src: "../assets/imgs/news-card01.jpg",
                        img_srcDis: "../assets/imgs/news-card01Dis.jpg",
                        news_data: "26 декабря 2019",
                        news_text: "Что называют ювелирной керамикой?",
                        news_view: "38"
                    })
                    +news({
                        img_src: "../assets/imgs/news-card02.jpg",
                        img_srcDis: "../assets/imgs/news-card02Dis.jpg",
                        news_data: "22 декабря 2020",
                        news_text: "Наши ювелиры. Закулисье Demetra-Sapphire Jewelry ",
                        news_view: "38"
                    })
                    +news({
                        img_src: "../assets/imgs/news-card03.jpg",
                        img_srcDis: "../assets/imgs/news-card03Dis.jpg",
                        news_data: "18 декабря 2020",
                        news_text: "Что такое ювелирная смола?",
                        news_view: "38"
                    })
                    +news({
                        img_src: "../assets/imgs/news-card04.jpg",
                        img_srcDis: "../assets/imgs/news-card04Dis.jpg",
                        news_data: "04 декабря 2020",
                        news_text: "Декабрьские эксклюзивные ювелирные украшения от DSJ",
                        news_view: "38"
                    })
                    +news({
                        img_src: "../assets/imgs/news-card05.jpg",
                        img_srcDis: "../assets/imgs/news-card05Dis.jpg",
                        news_data: "30 ноября 2020",
                        news_text: "Любимые оттенки камней знаменитостей",
                        news_view: "38"
                    })
                    +news({
                        img_src: "../assets/imgs/news-card06.jpg",
                        img_srcDis: "../assets/imgs/news-card06Dis.jpg",
                        news_data: "26 декабря 2019",
                        news_text: "Отличная новость! Объявляем «чёрную пятницу» на всё!",
                        news_view: "38"
                    })
                    +news({
                        img_src: "../assets/imgs/news-card07.jpg",
                        img_srcDis: "../assets/imgs/news-card07Dis.jpg",
                        news_data: "26 декабря 2019",
                        news_text: "Какие есть ювелирные камни синего цвета?",
                        news_view: "38"
                    })
                    +news({
                        img_src: "../assets/imgs/news-card08.jpg",
                        img_srcDis: "../assets/imgs/news-card08Dis.jpg",
                        news_data: "26 декабря 2019",
                        news_text: "Как оцениваются ювелирные украшения из бронзы?",
                        news_view: "38"
                    })
                    +news({
                        img_src: "../assets/imgs/news-card09.jpg",
                        img_srcDis: "../assets/imgs/news-card09Dis.jpg",
                        news_data: "26 декабря 2019",
                        news_text: "Идеи подарков ко дню матери от Demetra-Sapphire Jewelry",
                        news_view: "38"
                    })
                .news-pages
                    ul 
                        li.news-pages__link
                            a(href="#") 1
                        li.news-pages__link
                            a(href="#") 2
                        li.news-pages__link
                            a(href="#") 3
                        li.news-pages__link
                            a(href="#") 4
                        li.news-pages__link
                            a(href="#") 5
                        li.news-pages__arrow
                            a(href="#")
                                img(src="../assets/imgs/rightArrow.svg", alt="rightarrow")
                   
